<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.hanvoca">

    <application
            android:name=".Hanvoca"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="HanVoca"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".AddWordActivity" />
        <activity android:name=".AddVocaActivity" />
        <activity android:name=".DelWordActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".TestSetDetailActivity" />
        <activity android:name=".TestSelectVocaActivity" />
        <activity android:name=".DelVocaActivity" />
        <activity android:name=".GetWordActivity" />
        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowVocaActivity" />
        <activity android:name=".SelectModeActivity" />
        <activity android:name=".ShowBlinkerModeActivity" />
        <activity android:name=".ShowUserModeActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>