<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.hanvoca">

    <application
            android:name=".Hanvoca"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="HanVoca"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".AddWordActivity">
        </activity>
        <activity android:name=".AddVocaActivity">
        </activity>
        <activity android:name=".DelWordActivity">
        </activity>
        <activity android:name=".TestActivity">
        </activity>
        <activity android:name=".TestSetDetailActivity">
        </activity>
        <activity android:name=".TestSelectVocaActivity">
        </activity>
        <activity android:name=".DelVocaActivity">
        </activity>
        <activity android:name=".GetWordActivity">
        </activity>

        <activity android:name=".SplashActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ShowVocaActivity">
        </activity>
        <activity android:name=".SelectModeActivity">
        </activity>
        <activity android:name=".ShowBlinkerModeActivity">
        </activity>
        <activity android:name=".ShowUserModeActivity">
        </activity>
        <activity android:name=".ResultActivity">
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>